<div class="album text-muted">
  <div class="container">
    <!-- <%= link_to 'Create New Item', new_portfolio_path %> -->
    <div class="row">
      <% @portfolio_items.each do |item| %>

        <div class="card">
          <%= link_to (image_tag item.thumb_image), item     if item.thumb_image.present? %>
          <p class="card-text">
            <span><%= item.title %></span>
            <%= item.subtitle %>
          </p>
          <% if logged_in?(:site_admin) %>
            <%= link_to 'Edit', edit_portfolio_path(item) %>
            <%= link_to 'Delete Portfolio',item, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end%>
        </div>
      <% end %>

    </div>
  </div>
</div>
