<div class='container'>
  <div class='row'>
    <div class='col-md-7'>
      <%= image_tag @portfolio.main_image %>
    </div>
    <div class='col-md-5'>
      <h3><%= @portfolio.title %></h3>
      <hr>
      <p><%= @portfolio.subtitle %></p>
      <p><%= @portfolio.body %></p>

      <h2>Technologies Used:</h2>

      <% @portfolio.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
    </div>
  </div>
</div>
